{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/soft-ui-dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
</head>
<body>
  {% block content %}
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h2 class="font-weight-bolder text-info text-gradient">
                    Login  
                  </h2>
                </div>
                <div class="card-body">
                  <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger">
                          {{ form.non_field_errors.0 }}
                      </div>
                    {% endif %}
                    <label for="id_login" class="form-label">Nome do usuário</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="login" placeholder="Nome de usuário" autocomplete="username" maxlength="150" required id="id_login">
                        {% if form.login.errors %}
                            <div class="text-danger">
                                {{ form.login.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                    <label for="id_password" class="form-label">Senha</label>
                    <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Senha" autocomplete="current-password" required aria-describedby="id_password_helptext" id="id_password">
                      {% if form.password.errors %}
                          <div class="text-danger">
                              {{ form.password.errors.0 }}
                          </div>
                      {% endif %}
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-info w-100 mt-1 mb-0">Entrar</button>
                      <p class="mt-4">
                        Ainda não tem uma conta? 
                        <a href="{% url 'account_signup' %}" class="text-primary">Cadastre-se</a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{% static 'img/background/login_background.jpg' %}')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% endblock content %}
</body>
</html>