{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/startup-mission-base-django.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
    {% include 'components/sidebar.html' %}
    
    <div class="container">
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </div>
  </body>
</html>