{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-1 px-4">
    TESTE 
<!-- Aqui estava dando erro então coloquei uma condição.
    Sempre lembrar disso. Pois caso não tenha nenhum dados no Database a aplicação quebra.
    Então temos sempre que colocar uma verificação.

    -->
    {% if user.is_authenticated %}
        <p>Bem-vindo, {{ user.username }}!</p>
        <ul>
            {% if metas %}
                {% for meta in metas %}
                    <li> 
                        {{ meta.id }} - {{ meta.nome }}
                        <a href="{% url 'editar' meta.id %}" > Editar </a>
                        <a href="{% url 'delete' meta.id %}"> Deletar </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>There is no Meta</li>
            {% endif %}
        </ul>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    {% else %}
        <p>Você não está autenticado. Por favor, <a href="{% url 'account_login' %}">faça login</a>.</p>
    {% endif %}
</div>
{% endblock content %}