<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    TESTE 

    {% if user.is_authenticated %}
        <p>Bem-vindo, {{ user.username }}!</p>
    {% endif %}

    <ul>
        {% if metas %}
            {% for meta in metas %}
                <li>
                    {{ meta.id }} - {{ meta.nome }}
                    <a href="{% url 'editar' meta.id %}">Editar</a>
                    <a href="{% url 'delete' meta.id %}">Deletar</a>
                </li>
            {% endfor %}
        {% else %}
            <li>Nenhuma meta encontrada.</li>
            <li><a href="{% url 'create-meta' %}">Criar uma nova meta</a></li>
        {% endif %}
    </ul>

</body>
</html>



    </ul>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>

</body>
</html>